.contact-page {
  padding-top: 120px;
  color: #0e1b30;
}

.contact-form {
  display: grid;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 50px;
}

.contact-child {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-title {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 5px;
}

.contact-instagram {
  font-size: 18px;
  font-weight: normal;
}

.social-links {
  color: #0e1b30;
  text-decoration: underline;
}

.social-links:hover {
  color: #2f5b8d;
}

.name {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 25px 0;
}

.name-child {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.name-title {
  font-size: 18px;
  padding: 0 0 8px 0;
}

#name-input {
  background: #f0f0f0;
  border-radius: 5px;
  font-size: 18px;
}

.email {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 25px 0;
}

.email-child {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.email-title {
  font-size: 18px;
  padding: 0 0 8px 0;
}

#email-input {
  background: #f0f0f0;
  border-radius: 5px;
  font-size: 18px;
}

.message {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 30px 0;
}

.message-child {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.message-title {
  font-size: 18px;
  padding: 0 0 8px 0;
}

#message-input {
  background: #f0f0f0;
  border-radius: 5px;
  height: 145px;
  font-size: 18px;
}

.submit {
  display: flex;
  justify-content: space-evenly;
}

.submit-child {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.submit-title {
  font-size: 18px;
  padding: 8px 0;
}

input {
  border: 0px;
  padding: 10px 0 10px 6px;
}

textarea {
  font-family: 'Source Sans Pro', sans-serif;
  border: 0px;
  padding: 10px 0 10px 6px;
}

.end-of-form {
  padding: 25px 0 25px 0;
}

#finished-form {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  width: 85%;
}