.faq-page {
    display: grid;
    padding-bottom: 15px;
    width: 100%;
    padding-top: 130px;
    color: #0e1b30;
}

.container1 {
    display: flex;
    padding: 0 0 15px 5%;
    text-align: center;
}

.bkground1 {
    background: #b3aba6;
    width: 25%;
    height: 100%;
    border-radius: 25px;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
}

.bkground2 {
    background: #b3aba6;
    width: 90%;
    height: 100%;
    border-radius: 25px;
}

.item {
    padding: 5px 0;
}

.faq-title {
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0;
}

.faq-subtitle {
    font-size: 25px;
    font-weight: bold;
    padding: 20px 25px 10px 25px;
}

.question {
    font-size: 20px;
    font-weight: 600;
    padding: 0 25px;
}

.answer {
    font-size: 18px;
    font-weight: 400;
    padding: 5px 25px 20px 25px;
}

.answer-list {
    font-size: 18px;
    font-weight: 400;
    padding-left: 60px;
    padding-bottom: 20px;
}

.social-links {
    color: #0e1b30;
    text-decoration: underline;
}

.social-links:hover {
    color: #2f5b8d;
}