.home-page {
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #0e1b30;
}

.title-container {
    text-align: center;
    padding: 50px 0 40px 0;
}

#home-title {
    font-size: 30px;
    font-weight: 600;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 90%;
}

.product {
    display: grid;
    justify-content: center;
    align-items: center;
    transform: scale(0.9);
}

.product-img {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.product-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 8px;
    text-align: center;
}

.price {
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding-top: 5px;
    text-align: center;
}

.sale {
    font-style: italic;
    color: red;
}

.product-links {
    color: #0e1b30;
    text-decoration: none;
}

.product-links:hover {
    color: #2f5b8d;
}

@media only screen and (max-width: 750px) {
    .products {
        width: 80%;
    }
    .product-img {
        height: 410px;
    }
}