body {
    margin: 0;
    width: 100%; 
    height: 100%;
    background:#b89779; 
}

.menu-btns {
    background: #b89779;
    display: grid;
    grid-template-columns: 1fr 6.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
    grid-template-rows: 0.2fr 0fr;
    grid-template-areas:
    "home . products faq contact cart"
    "banner banner banner banner banner banner";    
}

.home-btn {
    background-color: inherit;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border: none;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 20px;
    grid-area: home;
}

.products-btn {
    background-color: inherit;
    text-decoration: none;
    border: none;
    border: none;
    font-size: 18px;
    margin-top: 15px;
    grid-area: products;
}

.faq-btn {
    background-color: inherit;
    text-decoration: none;
    border: none;
    border: none;
    font-size: 18px;
    margin-top: 15px;
    grid-area: faq;
}

.contact-btn {
    background-color: inherit;
    text-decoration: none;
    border: none;
    border: none;
    font-size: 18px;
    margin-top: 15px;
    grid-area: contact;
}

.cart-btn {
    background-color: inherit;
    text-decoration: none;
    border: none;
    border: none;
    font-size: 18px;
    margin-top: 15px;
    grid-area: cart;

}

.banner-img {
    grid-area: banner;
    width: 100%;
    margin-top: -1.5vw;
    transform: scale(0.7);
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color:#273b48;
}

a:hover {
    color: white;
}



@media only screen and (max-width: 750px) {
    .home-btn {
        font-size: 13px;
        margin-top: 12px;
    }
    
    .products-btn {
        font-size: 13px;
        margin-top: 12px;
    }
    
    .faq-btn {
        font-size: 13px;
        margin-top: 12px;
    }
    
    .contact-btn {
        font-size: 13px;
        margin-top: 12px;
    }
    
    .cart-btn {
        font-size: 13px;
        margin-top: 12px;
    }
}

