.products {
    display: grid;
    grid-template-columns: 0.5fr 5fr 5fr 5fr 0.5fr;
    grid-template-rows: 0.5fr 5fr 1fr 5fr 1fr;
    grid-gap: 20px 30px;
    grid-template-areas:
    ". . . . ."
    ". product1 product2 product3 . "
    ". product1info  product2info  product3info ."
    ". product4  product5  product6 ."
    ". product4info product5info  product6info .";    
}

.product-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-title {
    font-weight: bold;
}

.price {
    text-decoration: underline;
}

.mafuyu-uenoyama {
    grid-area: product1;
}

.mafuyu-uenoyama-title {
    grid-area: product1info;
}

.mafuyu {
    grid-area: product2;
}

.mafuyu-title {
    grid-area: product2info;
}

.haruki {
    grid-area: product3;
}

.haruki-title {
    grid-area: product3info;
}

.amongus-uenoyama {
    grid-area: product4;
}

.amongus-uenoyama-title {
    grid-area: product4info;
}

.amongus-mafuyu {
    grid-area: product5;    
}

.amongus-mafuyu-title {
    grid-area: product5info;
}

.kuroo {
    grid-area: product6;
}

.kuroo-title {
    grid-area: product6info;
}

@media only screen and (max-width: 750px) {

    .products {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 0.5fr 5fr 5fr 0.5fr;
        grid-template-rows: 5fr 1fr 5fr 1fr 5fr 1fr;
        grid-gap: 30px 20px;
        grid-template-areas:
        ". product1 product2 ."
        ". product1info  product2info ."
        ". product3 product4 ."
        ". product3info product4info ."
        ". product5 product6 ."
        ". product5info  product6info .";
    }
}